body{
  margin:0;
  background:black;
  color:white;
  overflow:hidden;
  font-family:Arial;
}

.reels{
  height:100vh;
  overflow-y:scroll;
  scroll-snap-type:y mandatory;
}
.reels::-webkit-scrollbar{display:none;}

.reel{
  height:100vh;
  position:relative;
  scroll-snap-align:start;
}

video{
  width:100%;
  height:100%;
  object-fit:cover;
}

.caption{
  position:absolute;
  bottom:80px;
  left:15px;
}

.actions{
  position:fixed;
  right:15px;
  bottom:120px;
  display:flex;
  flex-direction:column;
  gap:20px;
  font-size:22px;
}

.bottom-nav{
  position:fixed;
  bottom:0;
  width:100%;
  height:55px;
  background:black;
  border-top:1px solid #333;
  display:flex;
  justify-content:space-around;
  align-items:center;
}
