*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Arial, sans-serif;
}

body{
  background:black;
  color:white;
  height:100vh;
  overflow:hidden;
}

.reels{
  height:100vh;
  overflow-y:auto;
  scroll-snap-type:y mandatory;
}
.reels::-webkit-scrollbar{ display:none; }

.reel{
  height:100vh;
  position:relative;
  scroll-snap-align:start;
}

video{
  width:100%;
  height:100%;
  object-fit:cover;
}

.caption{
  position:absolute;
  bottom:40px;
  left:15px;
  font-size:15px;
}
