*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  background:black;
  color:white;
  overflow:hidden;
  font-family:Arial;
}

.reels{
  height:100vh;
  width:100%;
  overflow-y:scroll;
  scroll-snap-type:y mandatory;
}

.reels::-webkit-scrollbar{
  display:none;
}

.reel{
  height:100vh;
  width:100%;
  position:relative;
  scroll-snap-align:start;
}

video{
  height:100%;
  width:100%;
  object-fit:cover;
}

.caption{
  position:absolute;
  bottom:90px;
  left:15px;
  font-size:15px;
}

.actions{
  position:fixed;
  right:15px;
  bottom:140px;
  display:flex;
  flex-direction:column;
  gap:20px;
  font-size:22px;
}

.bottom-nav{
  position:fixed;
  bottom:0;
  height:55px;
  width:100%;
  background:black;
  border-top:1px solid #333;
  display:flex;
  justify-content:space-around;
  align-items:center;
}
