*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:sans-serif;
}

body{
  background:#000;
  color:#fff;
}

#reel-page{
  height:100vh;
  width:100%;
}

.reels-container{
  height:100vh;
  overflow-y:scroll;
  scroll-snap-type:y mandatory;
}

.reel{
  position:relative;
  height:100vh;
  scroll-snap-align:start;
}

.reel video{
  width:100%;
  height:100%;
  object-fit:cover;
}

/* Right side buttons */
.actions{
  position:absolute;
  right:15px;
  bottom:120px;
  display:flex;
  flex-direction:column;
  gap:15px;
}

.actions button{
  background:rgba(0,0,0,0.6);
  color:white;
  border:none;
  padding:10px;
  font-size:20px;
  border-radius:50%;
}
