*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Arial, sans-serif;
}

body{
  background:black;
  color:white;
  height:100vh;
  overflow:hidden;
}

/* Reels Scroll */
.reels-container{
  height:100vh;
  overflow-y:scroll;
  scroll-snap-type:y mandatory;
}

/* Single Reel */
.reel{
  position:relative;
  height:100vh;
  scroll-snap-align:start;
}

video{
  width:100%;
  height:100%;
  object-fit:cover;
}

/* Center Play Icon */
.play-icon{
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  font-size:60px;
  display:none;
  opacity:0.8;
}

/* Right Side Buttons */
.actions{
  position:absolute;
  right:15px;
  bottom:120px;
  display:flex;
  flex-direction:column;
  gap:20px;
  font-size:22px;
}

.actions span{
  font-size:12px;
  display:block;
  text-align:center;
}
