*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Arial;
}

body{
  background:black;
  color:white;
  overflow:hidden;
}

/* Pages */
.page{
  height:100vh;
}
.hidden{
  display:none;
}
.center{
  display:flex;
  justify-content:center;
  align-items:center;
}

/* Reels */
.reels{
  height:100vh;
  overflow-y:scroll;
  scroll-snap-type:y mandatory;
}

.reel{
  height:100vh;
  position:relative;
  scroll-snap-align:start;
}

.reel video{
  width:100%;
  height:100%;
  object-fit:cover;
}

/* Sound overlay */
.tap-sound{
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  background:rgba(0,0,0,0.6);
  padding:10px 18px;
  border-radius:20px;
  font-size:14px;
}

/* Right side icons */
.right-actions{
  position:absolute;
  right:14px;
  bottom:120px;
  display:flex;
  flex-direction:column;
  gap:18px;
  font-size:26px;
}

/* Bottom nav */
.bottom-nav{
  position:fixed;
  bottom:0;
  width:100%;
  height:60px;
  background:black;
  border-top:1px solid #222;
  display:flex;
  justify-content:space-around;
  align-items:center;
}

.bottom-nav div{
  text-align:center;
  font-size:12px;
  cursor:pointer;
}
