*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Arial, sans-serif;
}

body{
  background:black;
  color:white;
  overflow:hidden;
}

/* Pages */
.page{
  height:100vh;
}
.hidden{
  display:none;
}

/* Reels */
.reels{
  height:100vh;
  overflow-y:scroll;
  scroll-snap-type:y mandatory;
}

.reel{
  height:100vh;
  position:relative;
  scroll-snap-align:start;
}

.reel video{
  width:100%;
  height:100%;
  object-fit:cover;
}

/* Right side buttons */
.right-actions{
  position:absolute;
  right:14px;
  bottom:120px;
  display:flex;
  flex-direction:column;
  gap:18px;
}

.action{
  font-size:26px;
  cursor:pointer;
}

/* Simple pages */
#page-mylist,
#page-profile{
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
}

/* Bottom nav */
.bottom-nav{
  position:fixed;
  bottom:0;
  width:100%;
  height:60px;
  background:#000;
  border-top:1px solid #222;
  display:flex;
  justify-content:space-around;
  align-items:center;
}

.bottom-nav div{
  text-align:center;
  font-size:12px;
  cursor:pointer;
}
