<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Story India Reels</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>

<div class="reels">

  <!-- Reel 1 -->
  <div class="reel">
    <video autoplay muted loop playsinline>
      <source src="https://res.cloudinary.com/dttvuuavn/video/upload/v1767952647/storyindia_ulbwd2.mp4" type="video/mp4">
    </video>

    <div class="sound-btn">ЁЯФК Tap for Sound</div>
    <div class="caption">ЁЯЩП рднрд╛рд░рдд рдХреА рдкреНрд░реЗрд░рдгрд╛рджрд╛рдпрдХ рдХрд╣рд╛рдиреА</div>
  </div>

  <!-- Reel 2 -->
  <div class="reel">
    <video muted loop playsinline>
      <source src="https://res.cloudinary.com/dttvuuavn/video/upload/v1767955042/storyindia1_znz4aw.mp4" type="video/mp4">
    </video>

    <div class="sound-btn">ЁЯФК Tap for Sound</div>
    <div class="caption">ЁЯФе рд╕рдВрдШрд░реНрд╖ рд╕реЗ рд╕рдлрд▓рддрд╛</div>
  </div>

</div>

<script src="script.js"></script>
</body>
</html>
