*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Arial;
}

body{
  background:black;
  height:100vh;
  overflow:hidden;
}

.reels{
  height:100vh;
  overflow-y:scroll;
  scroll-snap-type:y mandatory;
}
.reels::-webkit-scrollbar{display:none;}

.reel{
  height:100vh;
  position:relative;
  scroll-snap-align:start;
}

.video{
  width:100%;
  height:100%;
  object-fit:cover;
}

.actions{
  position:absolute;
  right:10px;
  bottom:120px;
  display:flex;
  flex-direction:column;
  gap:15px;
  font-size:22px;
  text-align:center;
}

.actions span{
  font-size:12px;
}
